* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
  }
footer {
  height: 80px;
  background-color: black;

}
main {
  height: calc(100vh - 160px);
  overflow-y: auto;
}
header {
  height: 80px;
  background-color: black;
}

ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

  /* common */

  .wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap:wrap;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
  }

/* header */
.header {
  display: flex;
  justify-content: right;
  gap: 10px;
  color: white;
  padding: 10px;
}

.logo-header {
  background-color: rgba(131, 139, 131, 0.5);
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8rem;

}
/* /header */
/* main */
  .col-video {
    width: calc(100% / 7);
    height: calc(100 / 5);
    min-width: 150px;
  }

  .item {
    padding: 2px;
    position: relative;
  }

  .item-text {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    background-color: rgba(0,0,0, 0.5);
    font-size: 0.9rem;
  }
/* /main */
/* footer */

.footer {
  display: flex;
}
.icon-left {
  width: 40%;
  display: flex;
  justify-content: left;
  gap: 20px;
https://validator.w3.org/nu/#textarea}

.icon-center {
  display: flex;
  justify-content: center;
  width: 20%;
  gap: 20px;
}
.icon {
  color: white;
  font-size: 0.9rem;
  padding-top: 20px;
}
.green {
  color: green;
}
.icon-right {
  width: 40%;
  display: flex;
  justify-content: right;
  padding: 20px;
}
.meeting {
  color: red;
  background-color: grey;
}
/* /footer */